:root {
    --prime_color: #5a162d;
    --secondary_color: #413035;
}


body {
    font-family: helevtica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, var(--prime_color), var(--secondary_color));
    color:white;
}